PORT=5000
MONGO_URI=mongodb+srv://ravirajchauhan:ravirajchauhan@portfolio-cluster.q8yyonw.mongodb.net/?appName=portfolio-cluster
JWT_SECRET=raviraj_portfolio_secret_2025
NODE_ENV=development
CLOUDINARY_CLOUD_NAME=dbccqi6zx
CLOUDINARY_API_KEY=523646879134589
CLOUDINARY_API_SECRET=leSkSxQm35-GXr76VOq8dTWG-uA
